@font-face {
    font-family: 'Rampart One';
    src: url("../fonts/RampartOne-Regular/RampartOne-Regular.ttf");
}
@font-face {
    font-family: 'Saira';
    src: url("../fonts/Saira/SairaExtraCondensed-Black.ttf");
}
@font-face {
    font-family: 'Livvic';
    src: url("../fonts/Livvic/Livvic-SemiBold.ttf");
}
.d-flex {
    display: flex;
}
.d-ai-c {
    align-items: center;
}
.d-ai-fe {
    align-items: flex-end;
}
.d-ai-fs {
    align-items: flex-start;
}
.d-jc-c {
    justify-content: center;
}
.d-jc-sb {
    justify-content: space-between;
}
.d-fw-w {
    flex-wrap: wrap;
}
.d-fd-c {
	flex-direction: column;
}
.container {
    width: 1200px;
    margin: 0 auto;
    min-width: 320px;
	overflow: hidden;
}
header {
    margin: 20px 0;
}
.logo {
    font-family: 'Rampart One';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 93px;
    color: #88BEE2;
}
nav a {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    color: #000;
    margin-left: 80px;
}
nav a.active,
nav a:hover {
    color: #C4C4C4;
}

/* content page style */
.conetnt {
	background: #EEE;
	min-height: calc(100vh - 150px);
	border-radius: 66px;
	position: relative;
}
.icon, .icon-del {
	border-radius: 50%;
}
.icon {
	position: absolute;
	top: 43px;
	left: 49px;
	width: 81px;
	height: 81px;
	z-index: 1;
	cursor: pointer;
}
.icon img, .icon-del img{
	width: 80%;
	stroke: #969696;
}
.icon-del {
	position: fixed;
	bottom: 22px;
	right: 57px;
	width: 114px;
	height: 114px;
	background: #FFFFFF;
	box-shadow: 0px 10px 24px 10px rgba(0, 0, 0, 0.3);
}
.conetnt-body {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.conetnt-body p {
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 72px;
	color: #88BEE2;
	text-align: center;
}
.conetnt-body label {
	background: #ECE4D9;
	border-radius: 24px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 40px;
	color: #B19770;
	padding: 0 18px;
	display: inline-block;
	margin-top: 32px;
}
.conetnt-body input {
	width: 772px;
	line-height: 83px;
	border: none;
	border-radius: 18px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	color: #969696;
	padding: 0 26px;
	margin-top: 14px;
	display: block;
	outline: none;
}
.conetnt-body .form-div:nth-of-type(2) input {
	width: 327px;
}
.conetnt-body input[type="submit"] {
	width: 399px;
	line-height: 131px;
	background: #A0ACCB;
	border-radius: 65.5px;
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	color: #FFFFFF;
	border: none;
	outline: none;
	cursor: pointer;
}
/* contentAcronymsList page style */
.conetnt-body-list {
	position: static;
	transform: translate(0,0);
	width: 980px;
	margin: 0 auto;
	padding: 124px 0;
}
.conetnt-item {
	margin: 16px 0;
}
.letter {
	width: 174px;
	background: #ECE4D9;
	border-radius: 24px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 40px;
	color: #B19770;
	text-align: center;
}
.sort-by {
	position: relative;
}
.sort-by-label {
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	color: #A0ACCB;
}
.sort-by-choose {
	display: inline-block;
	width: 233px;
	background-color: #A0ACCB;
	border-radius: 24px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.sort-by-select {
	width: 233px;
	text-align: center;
	position: absolute;
	right: 0;
	background-color: #fff;
	border-radius: 24px;
	overflow: hidden;
	display: none;
	z-index: 1;
	box-shadow: 0px 2px 24px 10px rgba(0, 0, 0, 0.1);
}
.sort-by-select.active {
	display: block;
}
.sort-by-select span {
	display: block;
	font-size: 20px;
	line-height: 40px;
	cursor: pointer;
}
.sort-by-select span:hover {
	background-color: #A0ACCB;
	color: #fff;
}
.conetnt-list {
	background: #FFFFFF;
	border-radius: 26px;
	padding: 22px 26px;
}
.conetnt-list ul li {
	position: relative;
}
.conetnt-list ul li > b {
	position: absolute;
	top: 8px;
	right: -12px;
	background-color: #B19770;
	color: #fff;
	width: 24px;
	height: 24px;
	line-height: 24px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	display: none;
}
.conetnt-list ul li:before{
	content: "";
	position: absolute;
	top: 15px;
	left: 0;
	width: 20px;
	height: 20px;
	background-color: #969696;
	border-radius: 50%;
}
.conetnt-list span {
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	color: #969696;
}
.conetnt-list span:nth-of-type(1) {
	margin-left: 40px;
}
.conetnt-list span:nth-of-type(2) {
	width: 565px;
	margin-left: 16px;
	text-transform: capitalize;
}
.conetnt-list span:nth-of-type(2) b {
	color: #88BEE2;
}
/* task page style */
.conetnt.task {
	background: #fff;
	overflow-x: scroll;
	min-width: 320px;
}
.task-item.task-item-row {
	margin-right: 21px;
}
.task-item {
	background-color: #EEE;
	width: 310px;
	padding: 38px;
	height: 100%;
	border-radius: 66px;
	min-height: calc(100vh - 130px);
	flex: 1;
}
.task-item-handle input,
.task-item-handle button {
	border: none;
	outline: none;
	box-sizing: border-box;
}
.task-item-handle input {
	width: 100%;
	border-radius: 24px;
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 28px;
	line-height: 83px;
	color: #000;
	padding: 0 4%;
}
.task-item-handle button {
	width: 48%;
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 50px;
	border-radius: 65.5px;
	border: 6px solid #A0ACCB;
	margin-top: 32px;
	cursor: pointer;
}
.task-item-handle button:nth-of-type(1){
	color: #A0ACCB;
}
.task-item-handle button:nth-of-type(2){
	color: #fff;
	background-color: #A0ACCB;
}
.task-item.task-item-row .task-item-handle {
	background-color: #fff;
	line-height: 83px;
	border-radius: 24px;
	padding: 0 4%;
	cursor: pointer;
}
.task-item-handle img {
	width: 41px;
	height: 41px;
}
.task-item-handle span {
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	color: #000;
}
.task-item-card {
	background-color: #fff;
	border-radius: 32px;
	margin-top: 28px;
	padding: 22px;
}
.task-item-card-title span{
	border-radius: 24px;
	padding: 0 40px;
	line-height: 30px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	color: #000000;
}
.task-item-card-title img {
	width: 30px;
	height: 30px;
}
.task-item-card .title {
	margin-top: 5px;
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 31px;
	color: #000000;
}
.task-item-card .des{
	margin: 5px 0;
	background: #EEEEEE;
	border-radius: 24px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	color: #969696;
	padding: 4px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	height: 121px;
}
.task-item-card .due span {
	margin-top: 5px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
}
.modal,
.modal-timer,
.modal-music{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.modal-mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(229,229,229,0.6);
}
.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 80%;
	height: 698px;
	background: #FFFFFF;
	box-shadow: 0px 8px 24px 8px rgba(0, 0, 0, 0.25);
	border-radius: 78px;
}
.modal-title,
.timer-title {
	padding-top: 36px;
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 60px;
	line-height: 94px;
	color: #88BEE2;
	text-align: center;
}
.timer-title img {
	margin-left: 10px;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.modal-form {
	padding: 0 5%;
}
.modal-form .modal-left,
.modal-form .modal-right{
	width: 46%;
}
.modal-form label {
	display: inline-block;
	line-height: 40px;
	background: #F2EBE1;
	border-radius: 24px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	color: #B19770;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding: 10px 28px;
}
.modal-form input,
.modal-form textarea{
	display: block;
	background: #EEEEEE;
	border-radius: 15px;
	padding: 1% 2%;
	width: 96%;
	line-height: 49px;
	border: none;
	outline: none;
	background: #EEEEEE;
	border-radius: 15px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	color: #969696;
}
.modal-form input,
.modal-form select{
	margin-bottom: 26px;
}
.modal-form textarea {
	resize: none;
	height: 170px;
}
.modal-form select {
	display: block;
	background: #EEEEEE;
	border-radius: 15px;
	width: 100%;
	border: none;
	outline: none;
	height: 49px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	color: #969696;
}
.modal-form span {
	width: 30%;
	line-height: 49px;
	background: #EEEEEE;
	border-radius: 15px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	color: #969696;
	text-align: center;
	cursor: pointer;
}
.modal-form span.active {
	background: #C4C4C4;
}
.modal-row .modal-group{
	width: 48%;
}
.modal-form button {
	margin-top: 34px;
	width: 48%;
	line-height: 83px;
	background: #FFFFFF;
	border: 6px solid #A0ACCB;
	border-radius: 65.5px;
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	color: #A0ACCB;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
}
.modal-form button.cancel,
.modal-form button.del {
	display: none;
}
.modal-form button:hover {
	background-color: #A0ACCB;
	color: #fff;
}
.right {
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
}
.right .icon-del {
	position: static;
	margin-top: 12px;
	cursor: pointer;
}
.timer-content,
.music-content {
	width: 633px;
	height: 633px;
	background: #FFFFFF;
	box-shadow: 0px 10px 24px 10px rgba(0, 0, 0, 0.3);
	border-radius: 68px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.timer-icon {
	margin: 30px 0 0 40px;
}
.timer-icon img{
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.timer-form,
.timer-form input {
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 93px;
	line-height: 146px;
	color: #AAA;
}
.timer-form input {
	border: none;
	background: none;
	width: 100px;
	text-align: center;
	outline: none;
}
.timer-content button {
	margin-top: 21px;
	box-sizing: border-box;
	width: 219px;
	line-height: 81px;
	background: #FFF;
	border: 6px solid #A0ACCB;
	border-radius: 65.5px;
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 52px;
	color: #A0ACCB;
	cursor: pointer;
}
.timer-content button:hover {
	background-color: #A0ACCB;
	color: #fff;
}
/* ddddddddddddddddddddddddddddddddd */
.stopwatch,
.pomodoro{
	display: none;
}
.pomodoro-title,
.pomodoro-timer,
.pomodoro-s{
	margin: 0 103px;
}
.pomodoro-title {
	margin-top: 30px;
}
.pomodoro-title span,
.pomodoro-timer input,
.pomodoro-s .session{
	width: 156px;
	line-height: 56px;
	border-radius: 41.5px;
	font-style: normal;
	font-size: 24px;
	text-align: center;
	display: block;
}
.pomodoro-s .num {
	font-style: normal;
	line-height: 56px;
	font-size: 24px;
	margin: 0 20px;
}
.pomodoro-s img {
	width: 46px;
	cursor: pointer;
}
.pomodoro-title span,
.pomodoro-s .session{
	background: #F2EBE1;
	font-family: 'Livvic';
	font-weight: 600;
	color: #B19770;
	margin-bottom: 20px;
}
.pomodoro-s .session {
	margin-bottom: 10px;
}
.pomodoro-timer {
	position: relative;
}
.pomodoro-timer input {
	background: #EEEEEE;
	border: none;
	outline: none;
	font-family: 'Saira';
	font-weight: 700;
	color: #969696;
}
.ride {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: 'Saira';
	font-weight: 700;
	color: #969696;
	font-size: 50px;
}
.pomodoro-s {
	margin-top: 20px;
}
.pomodoro-s .pomodoro-s-left {
	flex: 1;
}
.progress {
	margin: 20px 0;
}
.circle {
	margin: 0 auto;
	width: 250px;
	height: 250px;
	border: 8px solid #F99E9E;
	border-radius: 50%;
	position: relative;
}
.ball {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background-color: #A7DAA9;
	position: absolute;
	left: 50%;
	margin-left: -22px;
	top: -22px;
}
.ball span {
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 9px;
	color: #FFFFFF;
}
#player {
	margin-top: 20px;
}
#pcontrol button {
	margin: 0 10px;
	border: 0;
	outline: none;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#pcontrol button:nth-of-type(1) {
	background: url("../images/shangyige.png") center center no-repeat;
}
#pcontrol button:nth-of-type(2).play1 {
	background: url("../images/play.png") center center no-repeat;
}
#pcontrol button:nth-of-type(2).play2 {
	background: url("../images/zanting.png") center center no-repeat;
}
#pcontrol button:nth-of-type(3) {
	background: url("../images/xiayige.png") center center no-repeat;
}
.playerImg {
	text-align: center;
}
.playerImg img {
	width: 280px;
	height: 280px;
	border-radius: 33px;
}
.con {
	margin: 20px auto 0;
    width: 498px;
}
.con .contr p:nth-of-type(1) {
	font-family: 'Saira';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 38px;
	color: #88BEE2;
}
.con .contr p:nth-of-type(2) {
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #A0ACCB;
}
#progrees {
    width: 498px;
    height: 3px;
    background: #A0ACCB;
    margin: 30px auto 0;
	position:relative;
}
#curProgrees {
    width: 0px;
    height: 100%;
    background: #88BEE2;
}
#playTime{
    margin: 16px auto 0;
    width: 498px;
	font-family: 'Livvic';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	color: #88BEE2;
}